*.o
*.a
*.so
access.db
test_ntt256n
test_basemul256n
test_speed256nx2
test_speed256nx3
test_speed256nx4
test_range256n
test_ntt512n
test_basemul512n
test_speed512n
test_range512n
test_ntt1024n
test_basemul1024n
test_speed1024n
test_range1024n
test_ntt1024
test_basemul1024
test_speed1024
test_range1024
test_ntt1536
test_basemul1536
test_speed1536
test_range1536
test_ntt1728
test_basemul1728
test_speed1728
test_range1728
test_ntruhps509mul
test_ntruhps677mul
test_ntruhrss701mul
test_ntruhps821mul
test_lightsabermul
test_sabermul
test_firesabermul
test_lac128mul
test_lac192mul
test_lac256mul
